*{
    padding: 0;
    margin: 0;
}
section{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 8vh;
        background-color: rgb(118, 118, 118);
        .left-section{
            display: flex;
            gap: 2vw;
            padding-left: 1.8vw;;
            a{
                text-decoration: none;
                font-size: 20px;
                color: aliceblue    ;
            }
        }
        .right-section{
            a{
                padding-right: 1.8vw;
                text-decoration: none;
                font-size: 30px;
                color: aliceblue;
            }
        }
    }
}